.btn-red{
background-color: red !important;
color: white;
}

.btn{
    width: 9%;
    height: fit-content;
}

.round-box{
    border: 1px solid black;
    border-radius: 25px;
}

.heading-section {
    background-color: rgb(204, 202, 202);
}